$primary: #A41f13;
$white: #FAF5F1;
$dark: #292F36;
$body-bg: $white;

.button {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  border: none;
}

.content-size {
  height: 100vh;
}

.custom-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0 10px;
}

@supports (-webkit-touch-callout: none) {
  .content-size {
    height: -webkit-fill-available;
  }
}

@import "bootstrap/scss/bootstrap";